{% extends 'LayoutCommonBundle:Layout:body.html.twig' %}

{% block title %} {{ parent() }} Panel Klienta!{% endblock %}



{% block content %}
    <section class="wrapper">
        <div class="row">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Dodaj nowego usera</h4>
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Nazwa Użytkownika</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.username) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Hasło</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.password, { 'id': 'password' }) }}
                            <a href="#" class="link-password" id="confirm">Wygeneruj hasło</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
            </div>
        </div>

        </section>


{% endblock content %}