{% extends 'LayoutCommonBundle:Layout:body.html.twig' %}

{% block title %} {{ parent() }} Panel Klienta!{% endblock %}



{% block content %}

    <section class="wrapper">
        <div class="row">
            <div class="col-lg-9 main-chart">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong class="text-center">Zrealizowane naprawy</strong>
                            </div>
                            <div class="panel-body">
                                Zrealizowane zgłoszenia.
                                <hr>
                                <a class="btn btn-info btn-block" href="#">Zobacz wszystkie</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong class="text-center">Oczekujące naprawy</strong>
                            </div>
                            <div class="panel-body">
                                Zgłoszenia oczekujące na realizacje.
                                <hr>
                                <a class="btn btn-warning btn-block" href="#">Zobacz wszystkie</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong class="text-center">Utwórz nowe zgłoszenie</strong>
                            </div>
                            <div class="panel-body">
                                Utwórz nowe zgłoszenie naprawy
                                <hr>
                                <a href="#" class="btn btn-block btn-success">Utwórz</a>
                            </div>
                        </div>
                    </div> <!-- /col-sm-4 -->
                </div>
            </div><!-- /row -->

            <div class="col-lg-3 ds">

                <!--COMPLETED ACTIONS DONUTS CHART-->

                <h3>Powiadomienia</h3>



                <!-- First Action -->

                <div class="desc">

                    <div class="thumb">

                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>

                    </div>

                    <div class="details">

                        <p><muted>2 Minutes Ago</muted><br/>

                            <a href="#">James Brown</a> subscribed to your newsletter.<br/>

                        </p>

                    </div>

                </div>

                <!-- Second Action -->

                <div class="desc">

                    <div class="thumb">

                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>

                    </div>

                    <div class="details">

                        <p><muted>3 Hours Ago</muted><br/>

                            <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>

                        </p>

                    </div>

                </div>

                <!-- Third Action -->

                <div class="desc">

                    <div class="thumb">

                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>

                    </div>

                    <div class="details">

                        <p><muted>7 Hours Ago</muted><br/>

                            <a href="#">Brandon Page</a> purchased a year subscription.<br/>

                        </p>

                    </div>

                </div>

                <!-- Fourth Action -->

                <div class="desc">

                    <div class="thumb">

                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>

                    </div>

                    <div class="details">

                        <p><muted>11 Hours Ago</muted><br/>

                            <a href="#">Mark Twain</a> commented your post.<br/>

                        </p>

                    </div>

                </div>

                <!-- Fifth Action -->

                <div class="desc">

                    <div class="thumb">

                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>

                    </div>

                    <div class="details">

                        <p><muted>18 Hours Ago</muted><br/>

                            <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>

                        </p>

                    </div>

                </div>



                <!-- USERS ONLINE SECTION -->

                <h3>TEAM MEMBERS</h3>

                <!-- First Member -->

                <div class="desc">

                    <div class="thumb">

                        <img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">

                    </div>

                    <div class="details">

                        <p><a href="#">DIVYA MANIAN</a><br/>

                            <muted>Available</muted>

                        </p>

                    </div>

                </div>

                <!-- Second Member -->

                <div class="desc">

                    <div class="thumb">

                        <img class="img-circle" src="assets/img/ui-sherman.jpg" width="35px" height="35px" align="">

                    </div>

                    <div class="details">

                        <p><a href="#">DJ SHERMAN</a><br/>

                            <muted>I am Busy</muted>

                        </p>

                    </div>

                </div>

                <!-- Third Member -->

                <div class="desc">

                    <div class="thumb">

                        <img class="img-circle" src="assets/img/ui-danro.jpg" width="35px" height="35px" align="">

                    </div>

                    <div class="details">

                        <p><a href="#">DAN ROGERS</a><br/>

                            <muted>Available</muted>

                        </p>

                    </div>

                </div>

                <!-- Fourth Member -->

                <div class="desc">

                    <div class="thumb">

                        <img class="img-circle" src="assets/img/ui-zac.jpg" width="35px" height="35px" align="">

                    </div>

                    <div class="details">

                        <p><a href="#">Zac Sniders</a><br/>

                            <muted>Available</muted>

                        </p>

                    </div>

                </div>

                <!-- Fifth Member -->

                <div class="desc">

                    <div class="thumb">

                        <img class="img-circle" src="assets/img/ui-sam.jpg" width="35px" height="35px" align="">

                    </div>

                    <div class="details">

                        <p><a href="#">Marcel Newman</a><br/>

                            <muted>Available</muted>

                        </p>

                    </div>

                </div>



                <!-- CALENDAR-->

                <div id="calendar" class="mb">

                    <div class="panel green-panel no-margin">

                        <div class="panel-body">

                            <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">

                                <div class="arrow"></div>

                                <h3 class="popover-title" style="disadding: none;"></h3>

                                <div id="date-popover-content" class="popover-content"></div>

                            </div>

                            <div id="my-calendar"></div>

                        </div>

                    </div>

                </div><!-- / calendar -->



            </div><!-- /col-lg-3 -->

        </div><!-- /col-lg-9 END SECTION MIDDLE -->



    </section>

{% endblock %}