<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="basic-ideas.eu">
    <meta name="keyword" content="">

    <title>{% block title %}Serwis Komputerowy!{% endblock %}</title>

    {% block block_css %}

        {% stylesheets
        'bundles/layoutcommon/bower_components/bootstrap/dist/css/bootstrap.min.css'
        'bundles/layoutcommon/bower_components/dashgum-template/assets/font-awesome/css/font-awesome.css'
        'bundles/layoutcommon/bower_components/dashgum-template/assets/css/style.css'
        'bundles/layoutcommon/bower_components/dashgum-template/assets/css/style-responsive.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    {% include 'LayoutCommonBundle:Layout:navbar.html.twig' %}
    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    {% include 'LayoutCommonBundle:Layout:sidebar.html.twig' %}
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">

    {%  block content %}

    {%  endblock content %}
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2015
            <a href="" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>
{% block block_javascript %}

    {% javascripts
    '@LayoutCommonBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
    '@LayoutCommonBundle/Resources/public/bower_components/dashgum-template/assets/js/bootstrap.min.js'
    '@LayoutCommonBundle/Resources/public/bower_components/dashgum-template/assets/js/jquery-ui-1.9.2.custom.min.js'
    '@LayoutCommonBundle/Resources/public/bower_components/dashgum-template/assets/js/jquery.ui.touch-punch.min.js'
    '@LayoutCommonBundle/Resources/public/bower_components/dashgum-template/assets/js/jquery.dcjqaccordion.2.7.js'
    '@LayoutCommonBundle/Resources/public/bower_components/dashgum-template/assets/js/jquery.scrollTo.min.js'
    '@LayoutCommonBundle/Resources/public/bower_components/dashgum-template/assets/js/jquery.nicescroll.js'
    '@LayoutCommonBundle/Resources/public/bower_components/dashgum-template/assets/js/common-scripts.js'
    '@LayoutCommonBundle/Resources/public/bower_components/pGenerator/pGenerator.jquery.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
<!--script for this page-->

<script>
    //custom select box

    $('#confirm').pGenerator({
        'bind': 'click',
        'passwordElement': '#password',
        'displayElement': null,
        'passwordLength': 8,
        'uppercase': true,
        'lowercase': true,
        'numbers':   true,
        'specialChars': true,
        'onPasswordGenerated': function(generatedPassword) { }
    });

</script>

</body>
</html>
