<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered"> {{ app.user.username }}</h5>

            <li class="mt">
                <a class="{% if app.request.attributes.get('_route') == 'admin_homepage' %} active {% endif %}" href="{{ path('admin_homepage') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Admin Dashboard</span>
                </a>
            </li>
            <li class="mt">
                <a class="{% if app.request.attributes.get('_route') == 'add_user' %} active {% endif %}" href="{{ path('add_user') }}">
                    <i class="fa fa-user"></i>
                    <span>Dodaj użytkownika</span>
                </a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>