{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <form class="form-login" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <h2 class="form-login-heading">Zaloguj się teraz</h2>
        <div class="login-wrap">
            <input type="text" class="form-control"  placeholder="Nazwa użytkownika" id="username" name="_username" value="{{ last_username }}" required="required" autofocus>
            <br>
            <input type="password" class="form-control" id="password" name="_password" placeholder="Hasło" required="required" />
            <label class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">Zapamiętaj mnie</label>
            </label>

            {#<button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>#}
            <input class="btn btn-theme btn-block"  type="submit" id="_submit" name="_submit"  value="Zaloguj"/>
            <hr>
            <div class="registration">
                <span class="pull-right">
		                    <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>

		        </span>
            </div>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-theme" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>
{#<form action="{{ path("fos_user_security_check") }}" method="post">#}
    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}

    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}

    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
    {#<input type="password" id="password" name="_password" required="required" />#}

    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

    {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
{#</form>#}

{% endblock fos_user_content %}
    {% block block_javascript %}
        {{ parent() }}
        <script>
            $.backstretch('{{ asset('bundles/layoutcommon/bower_components/dashgum-template/assets/img/login-bg.jpg') }}', {speed: 500});
        </script>

    {% endblock block_javascript %}