<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block block_css %}

            {% stylesheets
            'bundles/layoutcommon/bower_components/bootstrap/dist/css/bootstrap.min.css'
            'bundles/layoutcommon/bower_components/dashgum-template/assets/font-awesome/css/font-awesome.css'
            'bundles/layoutcommon/bower_components/dashgum-template/assets/css/style.css'
            'bundles/layoutcommon/bower_components/dashgum-template/assets/css/style-responsive.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
    <div id="login-page">
        <div class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
        {#<div>#}
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                {#<a href="{{ path('fos_user_security_logout') }}">#}
                    {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                {#</a>#}
            {#{% else %}#}
                {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
            {#{% endif %}#}
        {#</div>#}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>

        </div>
    {% block block_javascript %}

        {% javascripts
        '@LayoutCommonBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
        '@LayoutCommonBundle/Resources/public/bower_components/dashgum-template/assets/js/bootstrap.min.js'
        '@LayoutCommonBundle/Resources/public/bower_components/dashgum-template/assets/js/jquery.backstretch.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}
    </body>
</html>
